body {
    text-align : center;
    background-color : black;
    color : white;
    font-family: fantasy;
}
a {
    color: lawngreen
}
h1 {
    font-size: 50px;
}

h3{
    color: grey;
}
footer{
    float: right;
}
